* {
    margin: 0;
    padding:0;
}


.main .content .main-p {
    margin: 0 0 0 120px;
    padding: 10px 10px 10px 0;
}

.menu-frozen {
    position: fixed;
    width: 100px;
    background-color: gray;
    height: 100%;
    z-index: 100;
}

p, h1 {
    font-family:sans-serif;
}

.menu-title, li {
    width: 100px;
    height: 100px;
    color: white;
    font-family:sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .menu-choise, li:hover {
    background-color: rgb(61, 58, 58);
} */

img {
    width: 70px;
    height: 70px;
}

.menu-moving {
    position: fixed;
    width: 160px;
    background-color: gray;
    height: 100%;
    margin-left:100px;
    left:-160px;
    transition-duration:1.0s;
}

.menu:hover .menu-moving {
    left: 0;
}

.menu-empty, .li-menu-empty {
    width: 160px;
    height: 100px;
    justify-content: left;
}

.m1:hover {
background-color: red;
}