* {
    margin: 0;
    padding:0;
}

.main .content .main-p {
    margin: 0 0 0 120px;
    padding: 10px 10px 10px 0;
}

.menu {
    position: fixed;
    width: 100px;
    background-color: gray;
    height: 100%;
}

p, h1 {
    font-family:sans-serif;
}

.menu-title, li {
    width: 100px;
    height: 100px;
    color: white;
    font-family:sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-choise, li:hover {
    background-color: rgb(61, 58, 58);
}

img {
    width: 70px;
    height: 70px;
}

